In [9]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('../results/forum.csv')

In [10]:
df.head()

,title,text,id,parent_id,author,time
0,-15 giorniiiii ‚ù§‚ù§‚ù§ inziamo preparare vasi sar...,NaN,752573,752573,3091481,2019-08-15 15:43
1,comment,molto belli üòä,cmnt_21179081,752573,1655978,2019-08-15 16:18
2,curiosit√† su ‚Äúil castello delle cerimonie‚Äù,... o precedentemente ‚Äúil boss delle cerimonie‚Äù.,752575,752575,2851869,2019-08-15 16:23
3,-30 giorni,-30 al grande giorno.. e anche il mio lui iniz...,752433,752433,843513,2019-08-14 17:00
4,comment,a dubai dove allogerete?üòòüòänoi partiamo il 16se...,cmnt_21179091,752433,3275895,2019-08-15 16:22

In [ ]:
df['text']=df['text'].fillna("")

In [12]:
df['time'] = df['time'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M'))

In [16]:
df['year'] = df['time'].apply(lambda x: x.year)
df['month'] = df['time'].apply(lambda x: x.month)
df['day'] = df['time'].apply(lambda x: x.day)

In [30]:
df['count_bolle'] = (df['text'] + df['title']).apply(lambda x: x.split().count('bolle'))

In [34]:
df['count_palloncini'] = (df['text'] + df['title']).apply(lambda x: x.split().count('palloncini'))

In [41]:
df[df['count_bolle']>0].shape

(6064, 11)

In [59]:
df[(df.year==2016) & (df.count_bolle>0)].shape

(945, 11)

In [58]:
df[(df.year==2016) & (df.count_palloncini>0)].shape

(585, 11)

In [60]:
df.describe()

,parent_id,year,month,day,count_bolle,count_palloncini
count,4.199708e+06,4.199708e+06,4.199708e+06,4.199708e+06,4.199708e+06,4.199708e+06
mean,3.930732e+05,2.016631e+03,5.893799e+00,1.569264e+01,1.547965e-03,1.023166e-03
std,2.001985e+05,1.718660e+00,3.340722e+00,8.783949e+00,4.228999e-02,3.564032e-02
min,3.240000e+02,2.009000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,2.404660e+05,2.016000e+03,3.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00
50%,3.831220e+05,2.017000e+03,5.000000e+00,1.600000e+01,0.000000e+00,0.000000e+00
75%,5.554480e+05,2.018000e+03,9.000000e+00,2.300000e+01,0.000000e+00,0.000000e+00
max,7.525750e+05,2.019000e+03,1.200000e+01,3.100000e+01,7.000000e+00,8.000000e+00